/* banner-collection-section */

.BannerCollectionSection {
  height: 40vh;
  background-color: #f6f8fb;
  padding: 50px 0px;
}

.BannerCollectionSection h3 {
  font-size: 20px;
  padding-left: 190px;
  text-decoration: underline;
}

.collection-list-items {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.collection-list {
  width: 100%;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.collect-items {
  width: 280px;
  height: 200px;
  background-color: aqua;
}

/* Banner 1 */

.collect-items1 {
  width: 290px;
  height: 230px;
  background: linear-gradient(45deg, #856ebf, #baabe8);
  box-shadow: 0px 0px 6px rgb(0, 0, 0, 0.2);
  border-radius: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.collect-items1>.right-item1 {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.collect-items1>.right-item1>span {
  color: #fff;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
}

.collect-items1>.right-item1>h1 {
  color: #fff;
  font-weight: 900;
  font-size: 40px;
}

.collect-items1>.right-item1>h1>span {
  color: #fff;
  text-transform: uppercase;
  font-weight: 900;
  font-size: 20px;
}

.collect-items1>.right-item1 a {
  color: #fff;
  text-transform: uppercase;
  font-weight: 900;
  background-color: #6839cc;
  padding: 10px 20px;
  font-size: 14px;
  border-radius: 50px;
  
}
.collect-items1>.right-item1 a:hover {
  background-color: #E0F7FA;
    color: #003B73;
    transform: scale(1.05);  
}

.left-item1 img {
  width: 120px;
  object-fit: cover;
}

.left-item2 img {
  width: 120px;
  object-fit: cover;
}

.left-item3 img {
  width: 120px;
  object-fit: cover;
}

.left-item4 img {
  width: 120px;
  object-fit: cover;
}

/* Banner 2 */
.collect-items2 {
  width: 290px;
  height: 230px;
  background: linear-gradient(45deg, #017FAF, #5298BC);
  box-shadow: 0px 0px 6px rgb(0, 0, 0, 0.2);
  border-radius: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.collect-items2>.right-item2 {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.collect-items2>.right-item2>span {
  color: #fff;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
}

.collect-items2>.right-item2>h1 {
  color: #fff;
  font-weight: 900;
  font-size: 40px;
}

.collect-items2>.right-item2>h1>span {
  color: #fff;
  text-transform: uppercase;
  font-weight: 900;
  font-size: 20px;
}

.collect-items2>.right-item2 a {
  color: #fff;
  text-transform: uppercase;
  font-weight: 900;
  background-color: #6839cc;
  padding: 10px 20px;
  font-size: 14px;
  border-radius: 50px;
}

/* Banner 3 */

.collect-items3 {
  width: 290px;
  height: 230px;
  background: linear-gradient(45deg, #E7BC56, #e4c57b);
  box-shadow: 0px 0px 6px rgb(0, 0, 0, 0.2);
  border-radius: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.collect-items3>.right-item3 {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.collect-items3>.right-item3>span {
  color: #fff;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
}

.collect-items3>.right-item3>h1 {
  color: #fff;
  font-weight: 900;
  font-size: 40px;
}

.collect-items3>.right-item3>h1>span {
  color: #fff;
  text-transform: uppercase;
  font-weight: 900;
  font-size: 20px;
}

.collect-items3>.right-item3 a {
  color: #fff;
  text-transform: uppercase;
  font-weight: 900;
  background-color: #6839cc;
  padding: 10px 20px;
  font-size: 14px;
  border-radius: 50px;
}

/* Banner 4 */
.collect-items4 {
  width: 290px;
  height: 230px;
  background: linear-gradient(45deg, #9B8F7F, #9B8F7F);
  box-shadow: 0px 0px 6px rgb(0, 0, 0, 0.2);
  border-radius: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.collect-items4>.right-item4 {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.collect-items4>.right-item4>span {
  color: #fff;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
}

.collect-items4>.right-item4>h1 {
  color: #fff;
  font-weight: 900;
  font-size: 40px;
}

.collect-items4>.right-item4>h1>span {
  color: #fff;
  text-transform: uppercase;
  font-weight: 900;
  font-size: 20px;
}

.collect-items4>.right-item4 a {
  color: #fff;
  text-transform: uppercase;
  font-weight: 900;
  background-color: #6839cc;
  padding: 10px 20px;
  font-size: 14px;
  border-radius: 50px;
}