/* Hero Section */

.Hero-section {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(240deg, #00C6FF, #0072FF);
    /* flex-wrap: wrap; */
}

/* dog image place */
.Hero-section .left {
    width: 100%;
}

.Hero-section .left img {
    padding-top: 50px;
    width: 800px;
    transform: scaleX(-1);
}

/* Hero-page Content Placed */
.Hero-section .right {
    padding-top: 120px;
    width: 100%;
    height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: baseline;
    justify-content: center;
    text-transform: uppercase;
}

.Hero-section .right>span {
    font-size: 25px;
    color: #E0F7FA;
    font-weight: 700;
    font-family: poppins, sans-serif;
}

.Hero-section .right button {
    padding: 10px 20px;
    border-radius: 50px;
    border: 2px solid #A084E8;
    width: 23%;
    font-size: 25px;
    font-family: poppins, sans-serif;
    font-weight: 700;
    background-color: #003B73;
    color: #fff;
    margin-top: 30px;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}
.Hero-section .right button:hover {
    background-color: #E0F7FA;
    color: #003B73;
}

.Hero-section .right h1 {
    width: 800px;
    display: flex;
    flex-direction: column;
    font-size: 80px;
    color: #fff;
    line-height: 1.1;
    font-family: poppins, sans-serif;
}