.HuntSection {
  width: 100%;
  height: 70vh;
  background: linear-gradient(120deg, #0072ff,#00c6ff);
  padding: 50px 0px;
}

.HuntHead {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 600;
}

.HuntHead h3 {
  color: #fff;
  text-transform: uppercase;
  font-size: 24px;
  text-align: left;
  text-decoration: underline;
  padding-left: 190px;
}

.Huntcollection {
  width: 100%;
  max-width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  overflow-x: auto;
  padding: 60px 20px;
  gap: 20px;
  scroll-behavior: smooth;
  cursor: grab;
}
.Huntcollection:active {
  cursor: grabbing;
}
.Huntcollection::-webkit-scrollbar {
  display: none;
}

.HuntcollectCard {
  flex: 0 0 auto;
  width: 350px;
  height: 350px;
  margin: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;
}

.HuntcollectCard:hover {
  transform: scale(1.05);
}

.HuntImgContain img {
  width: 100%;
  height: 200px;
  object-fit: contain;
}

.HuntContent h4 {
  padding: 5px 0px 0px 10px;
  font-size: 25px;
  font-weight: 700;
  color: #fff;
}

.HuntContent p {
  padding: 5px 0px 0px 10px;
  font-size: 14px;
  background-color: #fff;
  width: 35%;
  border-radius: 0px 10px 10px 0px;
  color: #4f03ff;
  font-weight: bold;
  font-size: 20px;
}

.reviewsSystem {
  display: flex;
  align-items: center;
  padding: 5px 0px 10px 10px;
  gap: 5px;
}

.review-count {
  font-size: 14px;
  color: #fff;
}

.AddToCart {
  width: 100%;
  height: 40px;
  background-color: #000;
  color: #fff;
  font-size: 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s ease;
  display: none;
}

.HuntcollectCard:hover .AddToCart {
  display: block;
}

.AddToCart:hover {
  background-color: #005bb5;
}

.HuntScrollContainer {
  position: relative;
  width: 100%;
}

.scroll-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: #000000aa;
  color: white;
  border: none;
  font-size: 30px;
  cursor: pointer;
  z-index: 10;
  padding: 5px 15px;
  border-radius: 50%;
  transition: background 0.3s ease;
}

.scroll-btn:hover {
  background: #0072ff;
}

.scroll-btn.left {
  left: 10px;
}

.scroll-btn.right {
  right: 10px;
}
.HuntcollectCard {
  flex: 0 0 auto;
  width: 280px; /* or whatever size fits ~5-6 cards on screen */
}
