/* Promise Section */

.promise-section {
    height: 22vh;
    width: 100%;
    background-color: #f9f9f9;
    color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
}


/* promise delivery content */
.promise-center {
    border: 1px dashed #000;
    width: 80%;
    height: 40%;
    display: flex;
    gap: 40px;
    align-items: center;
    justify-content: center;
}

.promise-center .list-1,
.list-2,
.list-3,
.list-4,
.list-5 {
    padding: 10px;
    width: 250px;
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: space-evenly;
}

.list-1 span,
.list-2 span,
.list-3 span,
.list-4 span,
.list-5 span {
    width: 100px;
    font-size: 14px;
}

.promise-center>hr {
    border: 1px dashed #000;
    height: 40px;
}

.list-1 img {
    width: 80px;
}

.list-2 img {
    width: 60px;
}

.list-3 img {
    width: 90px;
}

.list-4 img {
    width: 50px;
}

.list-5 img {
    width: 50px;
}